// app global css in SCSS form
.letter-space-lg {
  letter-spacing: 0.3rem;
}

.letter-space-xl {
  letter-spacing: 0.6rem;
}

.card {
  padding: 4rem;
  border: $primary 2px solid;
  border-radius: 12px;
}

.card-sm {
  width: 300px;
}

.border-white {
  border: 2px solid $grey-5;
}

.none-decoration {
  text-decoration: none;
}

.title-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.margin-bottom-humongous {
  margin-bottom: 15rem;
}

.img-card-round {
  width: 500px;
  height: 500px;
  border-radius: 100%;
  object-fit: cover;
}
